.button{
    margin-left: 26pc;
}
.btn:hover{
    color: white;
}
.input-field-with-icon {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 2em;
    margin-left: 10pc;
    margin-top: 7pc;
}
  
.input-field-with-icon input[type="text"]{
    border: none;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 0.5em 1em 0.5em 0;
}
 
.input-field-with-icon .icon {
    color: #3998B3;     /* Warna: Blue */
}